
    p.p2 {margin: 0.0px 0.0px 15.0px 0.0px; line-height: 26.0px; font: 14.0px Times; -webkit-text-stroke: #666666; background-color: #ffffff}
    p.p3 {margin: 15.0px 0.0px 15.0px 5.0px; line-height: 25.0px; font: 19.0px arial; -webkit-text-stroke: #666666; color:#575252;}
    p.p6 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 24.0px; font: 18.0px Times;  -webkit-text-stroke: #666666}
    p.p7 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 23.0px; font: 18.0px Times; color: #232323; -webkit-text-stroke: #444444}
    p.p8 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 26.0px; font: 18.0px Times; color: #232323; -webkit-text-stroke: #666666; min-height: 23.0px}
    p.p9 {margin: 0.0px 0.0px 0.0px 3.0px; line-height: 24.0px; font: 18.0px Times;  -webkit-text-stroke: #111111}
    p.p11 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 24.0px; font: 18.0px Times; color: #232323; -webkit-text-stroke: #666666; min-height: 23.0px}
    p.p12 {margin: 0.0px 9.0px 0.0px 9.0px; line-height: 23.0px; font: 16.0px Times; color: gray; -webkit-text-stroke: #aaaaaa}
    p.p13 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 24.0px; font: 18.0px Times; color: #232323; -webkit-text-stroke: #111111; min-height: 23.0px}
    p.p14 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 23.0px; font: 18.0px Times; color: #232323; -webkit-text-stroke: #ffffff}
    span.s1 {font-kerning: none}
    span.s2 {font-kerning: none; -webkit-text-stroke: 0px #cccccc}
    span.s3 {font-kerning: none; -webkit-text-stroke: 0px #666666}
    span.s4 {font-kerning: none; -webkit-text-stroke: 0px #bbbbbb}
    span.s5 {font-kerning: none; -webkit-text-stroke: 0px #111111}
    span.ns1{color:black;font-family:arial;font-size:20px;text-decoration:underline;}
    span.ns2{color:#E625F3;font-family:verdana;font-size:16px;}
    span.ns3{color:maroon;}
    span.ns4{color:#E625F3;font-weight:bold;}
    span.ns5{color:black;}
    span.ns6{color:navy;}
    span.ns7{color:#585353;margin:0.0px 0.0px 0.0px 6.0px;}
    span.w1{color:#3C3B3B;font-size:20px;font-weight:bolder;}
    span.w2{}
    span.w3{color:red;}
    span.w4{width:400px;}
    #d{position:absolute;left:50px;top:10px;height:2200px;width:500px;border:1px solid black;}
    img{width:450px;position:relative;left:24px;top:30px;}